:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(0, 0, 0, 0.329);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100;
  overflow: hidden;
}
.main-header {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .title {
  font-size: 15px;
}
.main-header .title span {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}
.sidebar {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100vh;
  width: 78px;
  background: #c8ab7c;
  padding: 6px 14px;
  transition: all ease 0.5s;
  z-index: 10;
}
.sidebar.active {
  width: 240px;
}
.sidebar .link_name {
  opacity: 0;
}
.sidebar.active .link_name {
  opacity: 1;
}
.sidebar #btn {
  color: black;
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background-color: black;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  left: 112px;
  top: 0;
  transform: translate(-40%, -50%);
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.5s;
  display: block;
  z-index: 10;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  opacity: 1;
}
.sidebar ul li input {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  color: black;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 50px;
  background: white;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: black;
  font-size: 22px;
}
.sidebar ul li .bx-search:hover {
  background: black;
  color: white;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
}
.sidebar ul li a:hover {
  background: black;
  color: white;
}
.sidebar ul li i {
  line-height: 50px;
  height: 50px;
  min-width: 50px;
  text-align: center;
  border-radius: 12px;
}
.sidebar .link_name {
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
}
.sidebar ul li a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  transition: all ease 0.3s;
  white-space: nowrap;
}

.sidebar.active ul li .link_name {
  opacity: 1;
  pointer-events: auto;
}
.home_content {
  position: absolute;
  height: 100%;
  width:100%;
  left: 78px;
  transition: all ease 0.5s;
  overflow-y: scroll;
}
.sidebar.active ~ .home_content {
  width: calc(100%-240px);
  left: 240px;
}

